* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color2: #f0f2f5;
  --bg-color: #fcfcd7;
  --form-bg-color: #67be9b;
  --red: #f04158;
  --yellow: #f1db42;
  --light-green: #95d0b8;
  --text-color: #140a76;
}

/* font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color2);
}

main {
  width: min(70vw, 600px);
  margin: auto;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 3rem;
}

.title {
  font-size: 2rem;
  color: var(--text-color);
}

/***** Info *****/
#info {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
}

#info h2 {
  font-size: 1.8rem;
  color: var(--text-color);
}

#info p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-color);
}

/****** Form *******/
form {
  background: var(--form-bg-color);

  padding: 4rem;

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-size: 1.8rem;

  font-weight: 500;

  color: white;
}

.input input {
  border-style: none;
  outline: none;

  border-radius: 7px;

  padding: 1rem;
  font-size: 2rem;
}

/**** Buttons ****/
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  gap: 0.8rem;
}

.buttons button {
  width: 100%;

  padding: 1rem;

  border-style: none;
  border-radius: 7px;
}

#calculate-button {
  background: var(--yellow);
  color: #260d33;

  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#clear-button {
  background: var(--red);

  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/**** Result ****/
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;

  width: 57%;
  padding: 2rem;
  border-radius: 10px;
}

.result small {
  font-size: 1rem;
}

.result.blue {
  background: #5bcebf;
}

.result.green {
  background: var(--form-bg-color);
}

.result.yellow {
  background: #f1db42;
}

.result.light-orange {
  background: #f18809;
}

.result.orange {
  background: #eb5f07;
}

.result.red {
  background: #de3c2f;
}

.result p {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.result.off {
  display: none;
}

/***** Table *****/
table {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

table thead tr th {
  border-radius: 10px;
}

#table {
  border-spacing: 0 0.5rem;
}

table th {
  padding: 1rem 2rem;

  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

  border-radius: 10px;
  color: var(--text-color);
}

table td {
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  background-color: white;
}

table tbody tr td:first-child {
  border-radius: 0.35rem 0 0 0.35rem;
}

table tbody tr td:last-child {
  border-radius: 0rem 0.35rem 0.35rem 0rem;
}

.blue td {
  background-color: #5bcebf;
}

.green td {
  background-color: #67be9b;
}

.yellow td {
  background-color: #f1db42;
}

.light-orange td {
  background-color: #f18809;
}

.orange td {
  background-color: #eb5f07;
}

.red td {
  background-color: #de3c2f;
}
